{% extends "DLRY/navigation.html" %}

{% block content %}

<!-- <div class="container text-center">
    <div class="row align-items-center">
        <div class="col-md-4" style="background-color: red"></div>
        <div class="col-md-4">
            Welcome to Dylan's Page!
        </div>
    </div>
    
    
</div> -->

<div class="row">
    <div class="pt-5"></div>
    <!-- <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <h5>Dylan Lai</h5>
        </div>
    </div> -->
    <div class="pt-1"></div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5 border border-dark">
            <div class="row pt-2">
                <img src="https://media.licdn.com/dms/image/D4E35AQFFHiNvuljajQ/profile-framedphoto-shrink_400_400/0/1660677147008?e=1672693200&v=beta&t=boL-F9wRFDSfX2KR1Zb04OOh7zteDcXgA6OTS_pqcMs" class="rounded-circle">
            </div>
            <div class="text-center pt-5">
                <h5>Dylan Lai</h5>
            </div>
        </div>
        <div class="col-md-5 border border-dark">
            <div class=" pt-1 pb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla euismod diam eget odio auctor convallis sed id sapien. Aenean ornare finibus elit, eget efficitur ipsum luctus a. Suspendisse vitae efficitur metus. Etiam ac ipsum nibh. Sed convallis cursus viverra. Suspendisse commodo sed ligula ac vulputate. Phasellus erat augue, malesuada quis luctus ac, gravida in sem. Mauris quis viverra erat.

                Praesent lobortis massa et erat elementum consectetur. Phasellus vel ornare mi, at faucibus augue. Curabitur ullamcorper dapibus iaculis. In justo purus, mattis ac est sed, viverra euismod erat. Mauris nec leo in ex mattis pulvinar vitae commodo sapien. Donec sit amet fermentum dui. Integer ultrices molestie mauris sit amet molestie. Nullam nunc urna, egestas quis tempor quis, consequat sed lacus.
            </div>
        </div>
    </div>
    <div class="row pb-5">
        <div class="col-md-1"></div>
        <div class="col-md-10  pt-1 pb-3 border border-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla euismod diam eget odio auctor convallis sed id sapien. Aenean ornare finibus elit, eget efficitur ipsum luctus a. Suspendisse vitae efficitur metus. Etiam ac ipsum nibh. Sed convallis cursus viverra. Suspendisse commodo sed ligula ac vulputate. Phasellus erat augue, malesuada quis luctus ac, gravida in sem. Mauris quis viverra erat. Praesent lobortis massa et erat elementum consectetur. Phasellus vel ornare mi, at faucibus augue. Curabitur ullamcorper dapibus iaculis. In justo purus, mattis ac est sed, viverra euismod erat. Mauris nec leo in ex mattis pulvinar vitae commodo sapien. Donec sit amet fermentum dui. Integer ultrices molestie mauris sit amet molestie. Nullam nunc urna, egestas quis tempor quis, consequat sed lacus.</div>
    </div>
    
</div>
  


{% endblock %}