{% extends "DLRY/navigation.html" %}

{% block content %}

<div class="row pt-5 pb-5">
    <div class="col-md-4"></div>
    <div class="col-md-4 d-flex justify-content-center">
        <h1>Side Quests</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-4"></div>
    <form method="post" action="{% url 'sidequests' %}" enctype='multipart/form-data'>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                {{ form }}
                {% csrf_token %}
                <div class="row pt-3"></div>
                <button id="id_submit_quest_button">Submit</button>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        These are the Quests

        {% for quest in quests %}
            <div>
                <p>title is {{ quest.title }}</p>
                <p>desc is {{ quest.description }}</p>
                <p>video URL is {{ MEDIA_URL }} {{quest.video}}</p>
                <!-- <source src="{{ quest.video }}" type="video/mp4"> -->
                <video autoplay="autoplay" controls="controls" preload="preload" width='320' height= '240'>
                    <source src="/DLRY{{ MEDIA_URL }}{{ quest.video }}" type='video/mp4'></source> 
                </video>
                <p>___________________________________</p>
            </div>
        {% endfor %}
    
    </div>


</div>

{% endblock %}